.footer {
    margin-top: 7rem;
    text-align: center;
    background-color: var(--dark-gray-background-color);
    padding: 5rem 0;
}

.footer h2 {
    font-family: var(--secundary-font);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}